.grid {
    column-gap: 10px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    max-width: 440px;
    row-gap: 10px;
    width: 100%;

    @media (min-width: 500px) {
        grid-template-columns: repeat(5, 1fr);
        max-width: 650px;
    }

    @media (min-width: 900px) {
        max-width: 1050px;
    }

}