.reset-button {
    background: #ffffff;
    box-sizing: border-box;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    color: inherit;
    cursor: pointer;
    font-family: inherit;
    font-size: 1.5em;
    margin: 20px;
    padding: 10px 20px;

    @media (min-width: 900px) {
        margin: 0 20px 20px;
    }

    &:hover {
        background-color: rgba(0, 0, 0, 0.1);
    }
}

.steps-counter {
    font-size: 1.5em;

    @media (min-width: 900px) {
        margin-left: 40px;
    }
}